<app-menu-title
  photoTitle="assets/images/title/sandrini-animes.png"
></app-menu-title>

<div class="container__news">
  <div>
    <app-small-card
      Id="11"
      photoCover="assets/images/anime/naruto.png"
      photoData="Setembro 27, 2023"
      description='Esse arco narrativo monumental, que se desdobrou ao longo de centenas de episódios, não foi apenas uma batalha física, mas uma jornada emocional para os personagens e para os fãs. Naruto, o carismático ninja de Konoha, liderou uma aliança improvável de aldeias contra o impiedoso exército da Akatsuki e seu líder, Obito Uchiha. O campo de batalha foi tomado por uma energia palpável, com jutsus poderosos iluminando o céu noturno enquanto os personagens lutavam não apenas por sua sobrevivência, mas pelo futuro de seus lares. Foi uma narrativa que explorou a força da amizade, a aceitação da própria identidade e a superação de tragédias passadas.'
      cardTitle="Naruto - Quando Heróis se Tornam Lendas">
    </app-small-card>
  </div>

  <hr>

  <div>
    <app-small-card
      Id="12"
      photoCover="assets/images/anime/one-piece.png"
      photoData="Setembro 27, 2023"
      description='Em um mar de incontáveis aventuras anime, "One Piece" emerge como uma jornada singular, ultrapassando barreiras e capturando corações globalmente. A história do chapéu de palha, Monkey D. Luffy, e sua tripulação, na busca incansável pelo tesouro supremo, o One Piece, transcende os limites de um simples anime. Esta saga, criada pelo brilhante mangaká Eiichiro Oda, não é apenas sobre piratas e batalhas épicas, mas sobre amizade, lealdade e a busca incessante pela liberdade.'
      cardTitle="One Piece: Uma Jornada Além dos Mares - A Saga que Ensinou o Mundo sobre Coragem e Amizade">
    </app-small-card>
  </div>

  <hr>

  <div>
    <app-small-card
      Id="13"
      photoCover="assets/images/anime/dragon-ball-z.png"
      photoData="Setembro 27, 2023"
      description='Em um universo onde a batalha entre o bem e o mal transcende os limites da imaginação, "Dragon Ball Z" permanece como o épico supremo que definiu uma era dos animes. Desde seu primeiro episódio em 1989, a saga de Goku e seus aliados em sua luta contra ameaças cósmicas conquistou corações em todo o mundo. Com suas batalhas intensas, transformações impressionantes e uma narrativa que oscila entre o humor e a emoção, "Dragon Ball Z" não é apenas uma série, mas um mito moderno. A jornada de Goku de um humilde guerreiro a um lendário Super Saiyajin tornou-se uma metáfora para a busca humana pela excelência, pela superação de desafios aparentemente insuperáveis.'
      cardTitle="Dragon Ball Z: A Ascensão dos Guerreiros">
    </app-small-card>
  </div>

  <hr>

  <div>
    <app-small-card
      Id="14"
      photoCover="assets/images/anime/bleach.png"
      photoData="Setembro 27, 2023"
      description='Em meio aos reinos dos animes, "Bleach" emerge como uma saga que mescla o sobrenatural com a mais profunda essência humana. Desde sua estreia em 2004, esta série provocou uma fascinação inigualável. A história de Ichigo Kurosaki, um adolescente com o dom de ver espíritos, levou os espectadores a um mundo onde almas perdidas, segredos antigos e poderes insondáveis colidem. Ao se tornar um Shinigami - um Ceifador de Almas - Ichigo assumiu a responsabilidade de proteger seu mundo e o Mundo dos Espíritos de ameaças obscuras. Em cada Zanpakuto desembainhada e Hollow derrotado, "Bleach" explorou temas complexos de identidade, sacrifício e a dualidade da existência.'
      cardTitle="A Jornada de Ichigo Kurosaki na Terra e Além">
    </app-small-card>
  </div>
</div>
