.container__small-card {
  margin-left: 50px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.container__small-card__photo {
  width: 40%;
}

.small-card__photo > img {
  width: -webkit-fill-available;
  height: auto;
  margin-right: 30px;
}

.small-card__title {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.small-card__title > span {
  color: #616161;
  font-size: 14px;
}

.small-card__title > h1 {
  margin-top: 10px;
}
