.container__content {
  margin-top: 20px;
  display: flex;
}

.content__news {
  margin-right: 50px;
}

.container__others_news {
  margin-top: 44px;
  margin-left: 50px;
}

.container__others_news > div > h3 {
  color: #62abd5;
}

.container__others_news__featured > div {
  margin: 20px 0;
}

.container__others_news__latest > h3 {
  margin-top: 80px;
}

.container__others_news__latest > div {
  margin: 20px 0;
}

.content__cover {
  display: flex;
  align-items: center;
}

.content__cover > img {
  width: 700px;
  margin: 25px 0;
}

.content__title {
  font-size: 40px;
}

.content__editorial-info > div {
  font-size: 14px;
  color: #616161;
}

.content__editorial-info > hr {
  border-color: #515151;
  margin: 15px 0;
}

.content__editorial-info > div > span {
  font-weight: 600;
  color: #818181;
}

.content__article {
  margin-top: 15px;
}

.content__article-material {
  margin: 40px 0 80px 0;
}

.content__article-material > p {
  font-size: 18px;
  color: #a1a1a1;
}
