<app-menu-title
  photoTitle="assets/images/title/sandrini-nerd.png"
></app-menu-title>

<div class="container__news">
  <div>
    <app-small-card
      Id="15"
      photoCover="assets/images/nerd-plus/tetraquarck.png"
      photoData="Setembro 18, 2023"
      description='Cientistas do CERN (Organização Europeia para a Pesquisa Nuclear) anunciaram uma descoberta que poderia remodelar nossa compreensão da física de partículas. A existência do tetraquark, uma partícula subatômica previamente desconhecida, foi confirmada após anos de pesquisa intensiva. Essa descoberta não apenas preenche uma lacuna em nossa compreensão das partículas fundamentais, mas também poderia ter implicações profundas para teorias físicas existentes, abrindo novos caminhos para a exploração científica e tecnológica.'
      cardTitle="Cientistas Confirmam a Existência do Tetraquark">
    </app-small-card>
  </div>

  <hr>

  <div>
    <app-small-card
      Id="16"
      photoCover="assets/images/nerd-plus/quantum-computer.png"
      photoData="Setembro 7, 2023"
      description='A computação quântica está revolucionando o campo da medicina, oferecendo uma potência computacional sem precedentes para modelagem molecular e descoberta de medicamentos. Pesquisadores conseguiram utilizar computadores quânticos para simular estruturas moleculares complexas com uma precisão sem igual, pavimentando o caminho para a medicina personalizada e terapias inovadoras.'
      cardTitle="Pesquisadores Usam Computadores Quânticos para Modelagem Molecular Precisa">
    </app-small-card>
  </div>

  <hr>

  <div>
    <app-small-card
      Id="17"
      photoCover="assets/images/nerd-plus/black-hole.png"
      photoData="Setembro 15, 2023"
      description='Numa conquista inovadora, astrônomos capturaram a primeira imagem de um buraco negro supermassivo situado no coração de uma galáxia distante. A imagem, obtida por meio de um esforço colaborativo global, proporciona uma visão sem precedentes para o enigmático mundo dos buracos negros. Esta descoberta monumental não apenas valida a teoria da relatividade geral de Einstein, mas também aprimora nossa compreensão das entidades mais misteriosas do universo.'
      cardTitle="Primeira Imagem de um Buraco Negro Supermassivo no Centro de uma Galáxia Distante">
    </app-small-card>
  </div>

  <hr>

  <div>
    <app-small-card
      Id="18"
      photoCover="assets/images/nerd-plus/small-organ.png"
      photoData="Setembro 5, 2023"
      description='Num salto notável para a bioengenharia, cientistas conseguiram cultivar mini-órgãos funcionais em ambientes laboratoriais. Utilizando técnicas avançadas de engenharia de tecidos, pesquisadores geraram versões em miniatura de órgãos humanos, cada uma replicando as funções complexas de seus equivalentes em tamanho real. Esses mini-órgãos, ou organoides, estão revolucionando a pesquisa médica, fornecendo modelos precisos para estudos de doenças e testes de medicamentos.'
      cardTitle="Cientistas Criam Mini-Órgãos em Laboratório">
    </app-small-card>
  </div>
</div>
