.container__menu-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 9px 0;
  border-bottom: 1px solid #515151;
}

.content__nav-logo {
  margin-top: 10px;
}

.content__pages > ul {
  display: flex;
}

.content__pages > ul > li {
  margin: 0 25px;
  list-style-type: none;
  font-weight: 500;
}

.content__pages > ul > li > a {
  padding: 8px 12px;
  color: #8b8b8b;
}

.active {
  color: #62ABD5 !important;
  font-weight: bolder;
}

.content__pages > ul > li > a:hover {
  color: #62ABD5 !important;
}

.content__social-media > ul{
  display: flex;
}

.content__social-media > ul > li {
  margin-left: 20px;
  font-size: 25px;
  list-style-type: none;
}
