<nav class="container__menu-bar">
  <div class="content__nav-logo">
    <img src="{{ photoLogo }}" alt="">
  </div>

  <div class="content__pages">
    <ul>
      <li><a [routerLink]="['']" class="active">Home</a></li>
      <li><a [routerLink]="['games']">Games</a></li>
      <li><a [routerLink]="['anime']">Anime</a></li>
      <li><a [routerLink]="['nerd-plus']">Nerd +</a></li>
    </ul>
  </div>

  <div class="content__social-media">
    <ul>
      <li>
        <a href="https://linkedin.com/in/isandrino">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </li>
      <li>
        <a href="https://github.com/IsraelSandrino">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
