/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #d0d0d0;
}

h1 {
  color: #d0d0d0;
}

body {
  padding:0 215px;
  background-color: #111111;
}
