<app-menu-title
  photoTitle="assets/images/title/sandrini-games.png"
></app-menu-title>

<div class="container__news">
  <div>
    <app-small-card
      Id="8"
      photoCover="assets/images/games/minecraft.png"
      photoData="Setembro 27, 2023"
      description='Os fãs ávidos do universo de Minecraft agora têm um motivo para comemorar, com o lançamento emocionante de "Minecraft Legends" para Xbox e PC. Este novo jogo, um spin-off da amada franquia Minecraft, oferece uma experiência totalmente nova ao misturar estratégia em tempo real com ação envolvente. Ao adentrar o vasto mundo de Minecraft, os jogadores são desafiados a pensar estrategicamente, enquanto mergulham em batalhas cheias de adrenalina. Com uma fusão perfeita de elementos de construção e combate, "Minecraft Legends" leva os jogadores a uma jornada épica, onde cada decisão estratégica molda o destino de seu reino virtual.'
      cardTitle="Minecraft Legends é lançado para Xbox e PC">
    </app-small-card>
  </div>

  <hr>

  <div>
    <app-small-card
      Id="2"
      photoCover="assets/images/games/csgo2.png"
      photoData="Setembro 27, 2023"
      description='A espera finalmente acabou para os fãs de Counter-Strike: Global Offensive. O aguardado "CS: GO 2" chegou, prometendo uma nova era de combate eletrizante. Esta sequência muito esperada traz gráficos aprimorados, jogabilidade mais fluída e inovações que redefinirão os eSports. Espere uma experiência de tiro tático intensa, com armas novas, mapas detalhados e modos de jogo inovadores.'
      cardTitle="Recarregando a Lenda: CS: GO 2 Chega para uma Nova Era de Combate">
    </app-small-card>
  </div>

  <hr>

  <div>
    <app-small-card
      Id="9"
      photoCover="assets/images/games/spider-man.png"
      photoData="Setembro 27, 2023"
      description='Muito curto?" é uma pergunta que os jogadores de Spider-Man 2 não precisarão fazer. O tão aguardado jogo leva os jogadores em uma jornada épica que se estende por incríveis 30 horas para ser concluído em sua totalidade, segundo relatos de um jogador dedicado. Esta revelação emocionante promete uma experiência de jogo profunda e imersiva, repleta de desafios, narrativa envolvente e exploração ampla.'
      cardTitle="Muito curto? Spider-Man 2 leva 30 horas para ser 100% concluído, diz jogador">
    </app-small-card>
  </div>

  <hr>

  <div>
    <app-small-card
      Id="10"
      photoCover="assets/images/games/batman.png"
      photoData="Setembro 27, 2023"
      description='A espera dos fãs por Batman: Trilogia Arkham no Nintendo Switch será um pouco mais longa do que o esperado, já que o lançamento do jogo foi adiado para o final do ano. A notícia pegou muitos jogadores de surpresa, mas a equipe de desenvolvimento garante que o tempo extra será usado para polir e aprimorar a experiência, garantindo que quando o jogo finalmente chegar às mãos dos jogadores, será uma adaptação impecável das épicas aventuras do Cavaleiro das Trevas. Enquanto a ansiedade aumenta, a promessa de uma trilogia Arkham totalmente otimizada no Switch continua a alimentar as expectativas dos fãs, prometendo uma jornada inesquecível pelo universo do Batman.'
      cardTitle="Batman: Trilogia Arkham do Switch é adiada para o final do ano">
    </app-small-card>
  </div>
</div>
